<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "main" , :media => "all" %>
  <%= stylesheet_link_tag "tab-view" , :media => "all" %>
  <%= stylesheet_link_tag "base" , :media => "all" %>
	<%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "controlModal" %>
  <%= javascript_include_tag "ajax" %>
  <%= javascript_include_tag "tab-view" %>
</head>
<body>

<div id="headerArea">
   <%= image_tag("leftCol_logo.gif" , :size => "157x96", :alt => "BM Tronics Admin" ) %>
</div>
<div id="sideArea">
	<div id="navcontainer">
	  <ul id="navlist">

		
		<li><a href="/plans">Plans</a></li>
		<li><a href="/charges">Plan Charges</a></li>
		<li><a href="/options">Bonus Options</a></li>
		<li><a href="/phones">Phones</a></li>
		<li><a href="/accessories">Accessories</a></li>
		<li id="active"><a href="/features">Features</a></li>
			<ul>
				<li><%= link_to_new %></li>
				<li><%= link_to_view %></li>
				<li><%= link_to_archive %></li>
			</ul>		

	  </ul>
  </div>
  
</div>
<div id="leftColumn">
	<% flash.each do |key, msg| %>
		<%= content_tag :div, msg, :id => key %>
	<% end %>

  <%= yield  %>
</div>

</body>
</html>
