<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "main" , :media => "all" %>
  <%= stylesheet_link_tag "tab-view" , :media => "all" %>
  <%= stylesheet_link_tag "base" , :media => "all" %>
</head>
<body>

<div id="headerArea">
   <%= image_tag("leftCol_logo.gif" , :size => "157x96", :alt => "BM Tronics Admin" ) %>
</div>
<div id="sideArea">
	<div id="navcontainer">
	  <ul id="navlist">

		
		<li><%= link_to 'Plans', :controller => 'plans' %></li>
						<li><%= link_to 'Bonus Options', :controller => 'options' %></li>
				<li id="active"><%= link_to 'Phones', :controller => 'phones' %></li>
			<ul>
				<li><%= link_to 'new', :controller => 'phones', :action=>'new' %></li>
				<li><%= link_to 'view', :controller => 'phones' %></li>
				<li><%= link_to 'kiosks', :controller => 'kiosks' %></li>
				<li><%= link_to 'featured', :controller => 'featured', :action=> 'featured_phones' %></li>
			</ul>	
		<li><%= link_to 'Accessories', :controller => 'accessories' %></li>
				<li><%= link_to 'Features', :controller => 'features' %></li>
				<li><%= link_to 'Logos', :controller => 'logos' %></li>

	  </ul>
  </div>
  
</div>
<div id="leftColumn">
	<% flash.each do |key, msg| %>
		<%= content_tag :div, msg, :id => key %>
	<% end %>
		
  <%= yield  %>
</div>

</body>
</html>
