<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
<% # Include TinyMCE before other JS to avoid problems -%>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
  <%= stylesheet_link_tag "main" , :media => "all" %>
  <%= stylesheet_link_tag "tab-view" , :media => "all" %>
  <%= stylesheet_link_tag "base" , :media => "all" %>
	<%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "controlModal" %>
  <%= javascript_include_tag "ajax" %>
  <%= javascript_include_tag "tab-view" %>
	<%= various_javascript_functions %>
</head>
<body>

<div id="headerArea">
   <%= image_tag("leftCol_logo.gif" , :size => "157x96", :alt => "BM Tronics Admin" ) %>
</div>
<div id="sideArea">
	<div id="navcontainer">
	  <ul id="navlist">
			<li id="active"><%= link_to 'Plans', :controller => 'plans' %></li>
				<ul>
					<li><%= link_to "new", :controller => "plans", :action => "new" %></li>               
					<li><%= link_to "view", :controller => "plans", :action => "list" %></li>
          <li><%= link_to_newgroup %></li>
          <li><%= link_to_viewgroup %></li>
				</ul>
			<li><%= link_to 'Bonus Options', :controller => 'options' %></li>
							<li><%= link_to 'Phones', :controller => 'phones' %></li>
					<li><%= link_to 'Accessories', :controller => 'accessories' %></li>
					<li><%= link_to 'Features', :controller => 'features' %></li>
					<li><%= link_to 'Logos', :controller => 'logos' %></li>
			<li><%= link_to 'Kiosks', :controller => 'kiosks' %></li>

	  </ul>
  </div>
  
</div>
<div id="leftColumn">
	<% flash.each do |key, msg| %>
		<%= content_tag :div, msg, :id => key %>
	<% end %>
		
  <%= yield  %>
</div>

</body>
</html>
