<h1>New Feature</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
  <input type="reset" value="Undo" />
<% end %>

<%= link_to 'Back', :action => 'list' %>
