<h1>New Feature</h1>

<% form_tag({ :action => 'create' }, :multipart => true) do %>
  <%= render :partial => 'form' %>

	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Create') %>
			<%= form_button('Undo', 'reset', 'undo.png') %>
			<%= link_to 'Back', :action => 'list' %>
		</div>
	</div>
<% end %>
