<h1>Edit Charge Type</h1>

<% form_tag({ :action => 'update', :id => @charge }, :multipart => true) do %>
  <%= render :partial => 'form' %>

	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Update') %>
			<%= form_button('Undo', 'reset', 'undo') %>
			<%= link_to 'Show', :action => 'show', :id => @charge %>
		</div>
	</div>
<% end %>
