<h1>New Charge Row</h1>

<% form_tag({ :action => 'create_row' }, :multipart => true) do %>
  <%= render :partial => 'row_form' %>

	<div class="links_bar">
		<div class='buttons'>
			<%= form_button('Create', 'submit', 'tick.png') %>		
			<%= form_button('Undo', 'reset', 'undo.png') %>
			<%= link_to 'Back', :action => 'list', :id=> @id, :name=> @name %>
		</div>
	</div>
	
<% end %>