/****************************
 		base table layout

*/
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc; 
	color: #333;
	font-size: 12px;
}

table caption {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 10px;
	padding: 5px;
	background: #efefef;
	border: 1px solid #ccc;
	color: #666;
}

table a {
	text-decoration: none;
	border-bottom: 1px dotted #f60;
	color: #f60;
	font-weight: bold;
}

table a:hover {
	text-decoration: none;
	color: #fff;
	background: #f60;
}

table tr th a {
	color: #369;
	border-bottom: 1px dotted #369;
}

table tr th a:hover {
	color: #fff;
	background: #369;
}

table thead tr th {
	text-transform: uppercase;
	background: #e2e2e2;
}

table tfoot tr th, table tfoot tr td {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

table tfoot tr th {
	width: 20%;
}

table tfoot tr td {
	width: 80%;
}

table td, table th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	line-height: 1.8em;
	font-size: 0.8em;
	vertical-align: top;
	width: 20%;
}

table tr.odd th, table tr.odd td {
	background: #efefef;
}

table td.currency{
	text-align: right;
}
/*
 		END OF base table layout
****************************/




/****************************
 		headings styles

*/
h1{
	font-size: 20px;
	border-bottom: 2px solid #369;
}
/*
 		END OF headings style
****************************/



/****************************
 		left navigation style

*/
#navcontainer { 
	margin-top: 30px;
	margin-left: 0px; 
}

#navcontainer ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, Helvetica, sans-serif;
}

#navcontainer li { margin: 0 0 1px 0; }

#navcontainer a
{
	display: block;
	padding: 5px 10px;
	width: 130px;
	color: #fff;
	background-color: #036;
	text-decoration: none;
}

#navcontainer a:hover
{
	color: #fff;
	background-color: #69C;
	text-decoration: none;
}

li#active a
{
	color: #FFFFFF;
	background-color: #369;
	border-right: 6px solid #f60;		
}

#navcontainer ul ul li { margin: 0 0 1px 0; }

#navcontainer ul ul a
{
	display: block;
	padding: 5px 5px 5px 30px;
	width: 115px;
	color: #fff;
	background-color: #369;
	text-decoration: none;
	border-right: 0;
}

#navcontainer ul ul a:hover
{
	color: #fff;
	background-color: #69C;
	text-decoration: none;
}


/*
 		END OF left navigation style		
****************************/



/****************************
 		modal window layout
		used in list.rhtml to show details

*/
#modal_container {  
	padding:5px;  
	background-color:#fff;  
	border:1px solid #666;  
	overflow:auto;  
	font-family:"Lucida Grande",Verdana;  
	font-size:12px;  
	color:#333;  
	text-align:left;  
} 

/*#modal_overlay {  
	background-color:#000;  
}*/
/*
 		END OF modal window layout
****************************/