<%= error_messages_for 'charge_row' %>

<div class="row_container">
	<div class="row"><span class="label">Name:</span><span class="text"><%= text_field 'charge_row', 'name'  %></span></div>
	<div class="desc"><span class="label">Value:</span><span class="text"><%= text_area 'charge_row', 'value'  %></span></div>
	<input type="hidden" name="charge_row[charges_id]" value="<%= @charge_id %>" />
	<input type="hidden" name="charge_row_id" value="<%= @charge_row_id %>" />
	<input type="hidden" name="id" value="<%= @charge_id %>" />
</div>
