<h1>Edit Plan Charge Row</h1>

<% form_tag( :action => 'updater' ) do %>
  <%= render :partial => 'form' %>

	<div class="links_bar">
		<div class='buttons'>
			<%= form_button('Update', 'submit', 'tick') %>		
			<%= form_button('Undo', 'reset', 'undo') %>
			<%= link_to 'Back', :action => 'list' %>
		</div>
	</div>
<% end %>