<h1>Editing Accessory</h1>

<% form_tag :action => 'update', :id => @accessory do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @accessory %> |
<%= link_to 'Back', :action => 'list' %>
