<h1>Edit Accessory</h1>

<% form_tag({ :action => 'update', :id => @accessory }, :multipart => true) do %>
  <%= render :partial => 'form' %>
	
	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Update') %>
			<%= form_button('Undo', 'reset', 'undo.png') %>
			<%= link_to 'Show', :action => 'show', :id => @accessory %>
			<%= link_to 'Back', :action => 'list' %>
		</div>
	</div>
<% end %>
