<h1>Edit Phone</h1>

<% form_tag({ :action => 'update', :id => @phone }, :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
  <input type="reset" value="Undo" />
<% end %>

<%= link_to 'Show', :action => 'show', :id => @phone %> |
<%= link_to 'Back', :action => 'list' %>
