<h1>Edit Phone</h1>

<% form_tag({ :action => 'update', :id => @phone }, :multipart => true) do %>
  <%= render :partial => 'form' %>

	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Update') %>
			<%= form_button('Undo', 'reset', '') %>
			<%= link_to 'Show', :action => 'show', :id => @phone %>
			<%= link_to 'Back', :action => 'list' %>
		</div>
	</div>
<% end %>