/****************************
 		base table layout

*/
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc; 
	color: #333;
	font-size: 12px;
}

table caption {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 10px;
	padding: 5px;
	background: #efefef;
	border: 1px solid #ccc;
	color: #666;
}

table a {
	text-decoration: none;
	border-bottom: 1px dotted #f60;
	color: #f60;
	font-weight: bold;
}

table a:hover {
	text-decoration: none;
	color: #fff;
	background: #f60;
}

table tr th a {
	color: #369;
	border-bottom: 1px dotted #369;
}

table tr th a:hover {
	color: #fff;
	background: #369;
}

table thead tr th {
	text-transform: uppercase;
	background: #e2e2e2;
}

table tfoot tr th, table tfoot tr td {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

table tfoot tr th {
	width: 20%;
}

table tfoot tr td {
	width: 80%;
}

table td, table th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	line-height: 1.8em;
	font-size: 0.8em;
	vertical-align: top;
	width: 20%;
}

table tr.odd th, table tr.odd td {
	background: #efefef;
}

table td.currency{
	text-align: right;
}

table thead th.offer{
	width: 10%;
}

table thead th.small{
	width: 10px;
}

td.centered{
	text-align: center;
}

.planchargeh {
	border-bottom: 1px dashed gray;	
	border-top: 1px dashed gray
}


/*
 		END OF base table layout
****************************/


/****************************
 		charges layout

*/

.charges {
  display: inline;
}

/*
 		END OF charges layout
****************************/


/****************************
 		headings styles

*/
h1{
	font-size: 20px;
	border-bottom: 2px solid #369;
}
/*
 		END OF headings style
****************************/



/****************************
 		left navigation style

*/
#navcontainer { 
	margin-top: 30px;
	margin-left: 0px; 
}

#navcontainer ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, Helvetica, sans-serif;
}

#navcontainer li { margin: 0 0 1px 0; }

#navcontainer a
{
	display: block;
	padding: 5px 10px;
	width: 130px;
	color: #fff;
	background-color: #036;
	text-decoration: none;
}

#navcontainer a:hover
{
	color: #fff;
	background-color: #69C;
	text-decoration: none;
}

li#active a
{
	color: #FFFFFF;
	background-color: #369;
	border-right: 6px solid #f60;		
}

#navcontainer ul ul li { margin: 0 0 1px 0; }

#navcontainer ul ul a
{
	display: block;
	padding: 5px 5px 5px 30px;
	width: 115px;
	color: #fff;
	background-color: #369;
	text-decoration: none;
	border-right: 0;
}

#navcontainer ul ul a:hover
{
	color: #fff;
	background-color: #69C;
	text-decoration: none;
}


/*
 		END OF left navigation style		
****************************/



/****************************
 		modal window layout
		used in list.rhtml to show details

*/
#modal_container {  
	padding:5px;  
	background-color:#fff;  
	border:1px solid #666;  
	overflow:auto;  
	font-family:"Lucida Grande",Verdana;  
	font-size:12px;  
	color:#333;  
	text-align:left;  
} 
/*
 		END OF modal window layout
****************************/



/****************************
 		style for rows
		used in show.rhtml

*/
div.row_container{
	width: 600px;
}

div.desc {
        font-weight: bold;
        padding-top: 15px;
        clear: both;
}

div.desc span.label {
  width: 200px;	
  float: left;
  text-align: right;
	font-weight: bold;
	font-size: 12px;
  padding-right: 10px;
}


div.row, div.mcerow {
  clear: both;
  padding-top: 10px;
	border-bottom: 1px solid #DCDCDC;
}

div.row span.label, div.mcerow span.label {
  width: 200px;	
  float: left;
  text-align: right;
	font-weight: bold;
	font-size: 12px;
}

div.row span.text, div.row table {
  float: right;
	padding-left: 10px;
  width: 390px;
  text-align: left;
}

div.mcerow span.text {
  float: right;
}

div.row table{
  width: 350px;	
	margin-top: 5px;
}

form div.row{
	border: 0;
}

form div.row input, form div.row textarea{
	border: 1px solid #DDD;
}

table.wide{
  width: 600px;	
}
/*
 		END OF style for rows
****************************/



/****************************
 		style for categories
*/
ul.categories li{
	font-size: 12px;
	font-weight: bold;
}
.consumer{
	color: #006C22;
}
.corporate{
	color:#4800B1;
}
.business{
	color: #353535;
}
/*
 		END OF modal window layout
****************************/



/****************************
 		style for attributes assigned in show.rhtml
		used in show.rhthml
*/
dl, #phones ul, #options ul{
	margin: 0;
	margin-bottom: 5px;	
	border: 1px solid #963;
	border-top: 0;
	background-color: #FFF9CF;
}

dl{
	padding: 5px;
}

dt{
	font-weight: bold;
	color: #761418;
}
/*
 		END OF style for attributes assigned in show.rhtml
****************************/



/****************************
 		style for images
		used in show.rhthml list.rhtml
*/
img.medium, img.thumb{
	padding: 5px;
	padding-bottom: 30px;
	background-color: #fff;
	border: 1px solid #ccc;	
	border-top-color: #eee;
	border-right-color: #ddd;
	border-bottom-color: #bbb;
}

img.thumb{
	padding: 4px 4px 9px 4px;
}
/*
 		END OF style for images
****************************/

/****************************
 		flash messages
		used in all layouts
*/
#alert, #notice{
	border-top: 3px solid #800E0E;
	color: #800E0E;
	background-color: #FBFF7A;
	padding: 10px;
}

#notice{
	border-top-color: #083700;
	color: #083700;
	background-color: #84F211;
}
/*
 		END OF flash messages
****************************/


div.links_bar{
	border-top: 2px solid #369;
	width: 600px;
	margin-top: 30px;
	padding: 5px;
}

a.icon, a.icon img, a.icon:hover, a.icon:hover img{
	border: 0;
	background-color: none;
}




/****************************
 		buttons styled up

*/

/* BUTTONS */

.buttons a, .buttons button, .buttons span{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons span {
  border: 1px solid gray;
}

.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/*

 		END OF buttons styled up
****************************/
