<h1>Edit Plan Charge Column</h1>

<% form_tag( :action => 'updatec' ) do %>
  <%= render :partial => 'form_column' %>

	<div class="links_bar">
		<div class='buttons'>
			<%= form_button('Update', 'submit', 'tick') %>		
			<%= form_button('Undo', 'reset', 'undo') %>
			<%= link_to 'Back', :action => 'modify', :id => @charge_id %>
		</div>
	</div>
<% end %>
