<h1>Edit Plan Charge Row</h1>

<% form_tag( :action => 'updater' ) do %>
  <%= render :partial => 'form' %>

	<div class="links_bar">
		<div class='buttons'>
			<%= form_button('Update', 'submit', 'tick.png') %>		
			<%= form_button('Undo', 'reset', 'undo.png') %>
			<%= link_to 'Back', :action => 'modify', :id => @charge_id %>
		</div>
	</div>
<% end %>
