<h1>New Plan</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
	
	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Create') %>
			<%= link_to 'Back', :action => 'list' %>
		</div>
	</div>
<% end %>