<% for column in Plan.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @plan.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @plan %> |
<%= link_to 'Back', :action => 'list' %>
