<h1>Edit Plan Group</h1>

<% form_tag :action => 'updategroup', :id => @plan_group do %>
  <%= render :partial => 'group_form' %>
  <%= submit_tag 'Update' %>
  <input type="reset" value="Undo" />
<% end %>

<%= link_to 'Show', :action => 'showgroup', :id => @plan_group %> |
<%= link_to 'Back', :action => 'listgroups' %>
