<h1>Edit Plan</h1>

<% form_tag :action => 'update', :id => @plan do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @plan %> |
<%= link_to 'Back', :action => 'list' %>
