<h1>Edit Plan</h1>

<% form_tag :action => 'update', :id => @plan do %>
  <%= render :partial => 'form' %>

	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Update') %>
			<%= form_button('Undo', 'reset', '') %>
			<%= link_to 'Show', :action => 'show', :id => @plan %>
			<%= link_to 'Back', :action => 'list' %>
		</div>
	</div>
<% end %>