<h1>Edit Feature</h1>

<% form_tag :action => 'update', :id => @feature do %>
  <%= render :partial => 'form' %>

	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Update') %>
			<%= form_button('Undo', 'reset', 'undo') %>
			<%= link_to 'Show', :action => 'show', :id => @feature %>
			<%= link_to 'Back', :action => 'list' %>
		</div>
	</div>

<% end %>