<h1>Edit Feature</h1>

<% form_tag :action => 'update', :id => @feature do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
  <input type="reset" value="Undo" />
<% end %>

<%= link_to 'Show', :action => 'show', :id => @feature %> |
<%= link_to 'Back', :action => 'list' %>
