<h1>Edit <%= @pname %> Rates</h1>

<% form_tag({ :action => 'update', :id => @id, :name => @pname, :plan_group => @group }, :multipart => true) do %>
  <%= render :partial => 'edit_form' %>

	<div class="links_bar">
	  <div class='buttons'>
			<%= form_button('Update') %>
			<%= form_button('Undo', 'reset', 'undo.png') %>
			<%= link_to 'Back', :action => 'list', :id=> @group, :name=> @pname %>
		</div>
	</div>
<% end %>
